doctype html
html
  head
    title xGrid Demo
    link(rel='stylesheet', href='main.css')
  body
    .container
      - var n = 1
      .grid
        while n <= 2
          .item= n++

      - var n = 1
      .grid
        while n <= 4
          .item= n++

      - var n = 1
      .grid
        while n <= 6
          .item= n++

      - var n = 1
      .grid
        while n <= 8
          .item= n++

      h1 xGrid

      - var n = 1
      .grid
        while n <= 6
          .item= n++

      - var n = 1
      .grid
        while n <= 6
          .item= n++

      - var n = 1
      .grid
        while n <= 8
          .item= n++

      - var n = 1
      .grid
        while n <= 4
          .item= n++
